# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# Virtual environments
.env/
.venv/
env/
venv/

# discard or AI
claude/
.ipynb_checkpoints
discard/

# VSCode
.vscode/

# Data files
/*.csv
*.db
*.sqlite
*.parquet
backtest_output/
data/

# Logs
*.log
logs/
docs/

# Secrets
.env
src/strategies/*
!src/strategies/indicators/
basic_config.yaml
