# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Data files
data
*.csv
*.db
*.sqlite
*.parquet

# Logs
*.log

# Secrets
.env

# AI
claude/